@import './style';

$color: rgb(58, 59, 59);
$gradient: linear-gradient(to right, rgb(95, 95, 223), rgb(211, 125, 225));
$grayColor: #333;
$fontSize: 18px;
$h: 10px;
$width: 200;
@mixin horizontal-center() {
    margin: 0 auto;
}

@mixin clearfix {
    &:after {
        clear: both;
        content: '.';
        display: block;
        height: 0;
        line-height: 0;
        overflow: hidden;
    }
    *height: 1%;
}

@mixin border($borderWidth:1px,$borderColor:#d9d9d9,$borderStyle:solid) {
    border: $borderWidth $borderColor $borderStyle;
}

@mixin boxSizing {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

@mixin verticalCenter($height:$h*4) {
    height: $height;
    line-height: $height;
}

@mixin transform($transforms) {
    -moz-transform: $transforms;
    -o-transform: $transforms;
    -ms-transform: $transforms;
    -webkit-transform: $transforms;
    transform: $transforms;
}

// rotate
@mixin rotate($deg) {
    @include transform(rotate(#{$deg}deg));
}

body {
    background: #f5f5f5
}

.container {
    width: $h*60;
    background: #fff;
    @include horizontal-center;
    margin-top: 10%;
    padding: $h;
}

.inner {
    input[type=text] {
        height: $h*4;
        @include border;
        background: #fff;
        width: $width*2+161+px;
        padding: 0 5px;
        border-radius: 5px;
        position: relative;
    padding-left: 31px;
        &:focus {
            @include border(1px, #3c9, solid);
        }
    }
    button {
        height: $h*4+2;
        border: none;
        display:none;
        background: $color;
        color: #fff;
        cursor: pointer;
        margin-left: 9px;
        &:hover {
            color: #fff;
            background: rgba($color, 0.7);
        }
    }
}

.dodo-list {
    display: block;
    background: rgb(251, 251, 250); 
    box-shadow: 0 0 10px rgba(0,0,0,0.5); 
    border: 1px solid $color;
    border-radius: 5px;
    padding-left: 3px;
    @include clearfix;
    li {
        cursor: pointer;
        list-style: none;
        border-bottom: 1px solid #d9d9d9;
        width: 100%;
        @include clearfix;
        em {
            display: inline-block;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            @include border;
            float: left;
            margin-top: 13px;
        }
        em.selected {
            position: relative;
            border: 1px solid $gradient;
            background: $gradient;
            &:before {
                display: block;
                content: '';
                width: 6px;
                height: 2px;
                background: white;
                position: absolute;
                left: 4.5px;
                top: 10.6px;
                @include rotate(45)
            }
            &:after {
                display: block;
                content: '';
                width: 10px;
                height: 2px;
                background: white;
                position: absolute;
                left: 8px;
                top: 8px;
                @include rotate(-45)
            }
        }

        p {
            float: left;
            width: 84%;
            padding-left: 2%;
            @include verticalCenter(50px);
            margin: 0;
            cursor: pointer;
            color: grey;
        
        }
        
        span {
            float: left;
            display: inline-block;
            width: 10%;
            @include verticalCenter(50px);
            text-align: right;
            padding-right: 10px;
            @include boxSizing;
            font-size: 18px;
            color: $color;
            cursor: pointer;
        }
    }
}

.footer {
    width: 594px;
    grid-template-columns: 76px 163px 121px;
    align-items: start;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 15px;
    span {
        display: inline-block;
        @include border(1px, #3c9, solid);
        padding: 8px 10px;
        margin: 0 5px;
        border-radius: 3px;
        color: $color;
    }
    a {
        color: $grayColor;
        text-decoration: none;
        margin: 0 5px;
    }
    p {
        float:left;
        margin: 0;
        padding: 4px;
    }
}


.radioInput {
    padding: 10;
    margin: 40;
    background: rgb(251, 251, 250);
    box-shadow: 0 0 10px rgba(0,0,0,0.5); 
    border: 1px solid $color;
    border-radius: 5px;
    @include clearfix;
    li{
      list-style: none;
     
      margin: 8px 4px;
      position: absolute;
    z-index: 100;
        @include clearfix;
    em{
        display: inline-block;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        @include border;
        float: left;
      }

    em.selected {
    position: relative;
    border: 1px solid $gradient;;
    background: $gradient;;
    &:before {
        display: block;
        content: '';
        width: 6px;
        height: 2px;
        background: white;
        position: absolute;
        left: 4.5px;
        top: 10.6px;
        @include rotate(45)
    }
    &:after {
        display: block;
        content: '';
        width: 10px;
        height: 2px;
        background: white;
        position: absolute;
        left: 8px;
        top: 8px;
        @include rotate(-45)
    }
    }
    }
}

.left p{
    color: rgb(145, 145, 145);
}

.right button{
    color: rgb(105, 105, 105);
    border: none;
    background: none;
}

.right button:hover{
    color:rgb(37, 37, 37);
    cursor: pointer;
}

.middle button{
    color: rgb(105, 105, 105);
    border: none;
    background: none;
}

.middle button:hover{
    color:rgb(37, 37, 37);
    cursor: pointer;
}
.middle button:focus{
    color:rgb(7, 19, 146);
    cursor: pointer;
}
